.content {
  margin-top: -5rem;
  padding: 5rem 5rem 5rem;
  border-left: 1px solid var(--grey-secondary);
  width: 60%;
}
.content__heading--big,
.cart__heading--big {
  font-size: 3rem;
  color: var(--black-primary);
  text-transform: capitalize;
}
.content__heading--small,
.cart__heading--small {
  color: var(--grey-primary);
  font-size: 1.2rem;
}
.content__list {
  display: flex;
  flex-direction: column;
}
.content__list__item {
  display: flex;
  padding: 3rem 0;
  color: var(--black-primary);
}
.content__list__item:not(:last-child) {
  border-bottom: 1px solid var(--grey-secondary);
}
.content__list__item--text {
  font-size: 1.6rem;
  min-width: 70%;
}
.non-veg {
  color: brown;
  font-size: 2rem;
}
.veg {
  color: var(--green-primary);
  font-size: 2rem;
}
.list__item__dish-name {
  font-weight: bold;
  padding: 2rem 0;
}
.list__item__dish-price {
  padding-bottom: 2rem;
  font-size: 1.4rem;
}
.list__item__dish-items {
  font-size: 1.4rem;
  color: var(--grey-primary);
}
.content__list__item__img-container {
  /* padding: 3rem 0 3rem 5rem; */
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.list__item__dish-image {
  width: 15rem;
  height: 12rem;
  border-radius: 1rem;
}
.list__item__dish-btn {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2.95rem;
  background-color: var(--white-primary);
  border: 1px solid var(--grey-secondary);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(57%, 240%);
  color: var(--green-primary);
  cursor: pointer;
}
.list__item__dish-btn:hover {
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.content__list__items__buttons {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(57%, 240%);
}
.content__list__items__buttons:hover {
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.content__list__items__btn {
  padding: 1rem 1.55rem;
  font-family: inherit;
  font-weight: bold;
  background-color: var(--white-primary);
  border: 1px solid var(--grey-secondary);
  color: var(--green-primary);
  cursor: pointer;
}
.content__list__items__value {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.3rem;
  display: flex;
  justify-content: center;
  transform: translateX(150%);
  padding: 1rem 1rem;
  font-family: inherit;
  font-weight: bold;
  background-color: var(--white-primary);
  border: none;
  border-top: 1px solid var(--grey-secondary);
  border-bottom: 1px solid var(--grey-secondary);
  color: var(--green-primary);
  cursor: pointer;
  z-index: 1;
}
